<!doctype html>
<html lang="en">
  <head>
    <meta name="description" content="Decision Task">
    <meta charset="utf-8">
    <title>Decision-making Game - Results</title>
    <link rel="stylesheet" href="/css/results.css" />
  </head>
  <body>
    <main>
      <h1>Sessions <button type="button" name="button" id="new-session">Start New Session</button></h1>
      <% sessions.forEach(function(session){%>
        <div class="session">
          <h4>Session ID: <%= session._id %> | Date: <%= session.updatedAt %></h4>
          <h5>Samples</h5>
          <%= session._id %>
          <% for (var key in session.results) {%>
            <%= key %>
            <ol>
              <% if (session.results[key].samples !== undefined) { %>
                <% session.results[key].samples.forEach(function(sample){%>
                  <li>
                    Option: <b><%= sample.option %></b> |
                    Value: <b><%= sample.value %></b>
                  </li>
                <% }); %>
              <% } %>

            </ol>
            <p><b>Final Decision: </b> <%= session.results[key].final_decision %></p>
          <% } %>

        </div>

      <% }); %>

    </main>

    <script type="text/javascript" src="/js/admin.js"></script>

  </body>
</html>
