<!doctype html>
<html lang="en">
  <head>
    <meta name="description" content="Decision Task">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Decision-making Game - Results</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/results.css" />
  </head>
  <body>

      <h1>
        Sessions
        <button type="button" name="button" class="btn btn-success" id="new-session">Create New Session</button>
        <a href="/" class="btn btn-primary">Start</a></h1>
          <% if ( sessions.length > 0 ) { %>
            <table>
              <tr>
                <td colspan="2"></td>
                <% for (var key in sessions[0].results ) {%>
                  <% if (key !== "total_amount" && key !== "session_completed"  && key !== "problem_order" ) { %>
                    <th colspan="4"><%= key %></th>
                  <% } %>
                <% }%>
              </tr>

              <tr>
                <td>Subject ID</td>
                <td>Choice Problem Order</td>

                <% for (var key in sessions[0].results ) {%>
                  <% if (key !== "total_amount" && key !== "session_completed"  && key !== "problem_order" ) { %>
                    <td>Option B</td>
                    <td>Sampling Pattern</td>
                    <td>Final Decision</td>
                    <td>Final Value</td>
                  <% } %>
                <% }%>
              </tr>

              <% sessions.forEach(function(session){%>
              <tr>
                <td><%= session._id %></td>
                <td><%= session.results.problem_order %></td>
                <% for (var key in session.results ) {%>


                    <% if (key !== "total_amount" && key !== "session_completed"  && key !== "problem_order" ) { %>
                      <td>
                        <%= session.results[key].risky %>
                      </td>
                      <td>
                        <% if (session.results[key].samples !== undefined ) { %>
                          <% session.results[key].samples.forEach(function(sample){%>
                            <%= sample.option %>
                          <% }); %>
                        <% } %>
                      </td>

                      <td>
                        <%= session.results[key].final_decision.option %>
                      </td>
                      <td>
                        <%= session.results[key].final_decision.value %>
                      </td>

                    <% }%>

                <% } %>
              </tr>

              <% }); %>
            </table>
          <% } %>



    <script type="text/javascript" src="/js/results.js"></script>

  </body>
</html>
